<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/control_panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
{% endblock css_block %}

{% block body_block %}
    <div class="jumbotron">
        <h1>{{ storage }}</h1>
        <div class="form-default">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group row">
                    <label for="increment-ingredient" class="col-sm-4 col-form-label">Wartość dodawana do
                        magazynu:</label>
                    <div class="col-sm-8">
                        <input id="increment-ingredient" class="form-control" type="number" name="quantity">
                    </div>
                </div>

                <input class="form-control btn btn-primary btn-lg" type="submit">
            </form>
        </div>
    </div>
{% endblock %}