<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/control_panel.css' %}">
{% endblock css_block %}

{% block body_block %}
    <div class="jumbotron transparent">
        <table class="center control-panel">
            <tr>
                <td>
                    <button type="button" class="btn btn-primary btn-lg"
                            onclick="location.href='{% url 'restaurantApp:manage_orders' %}'">Zarządzaj zamówieniami
                    </button>
                </td>


                <td>
                    <button type="button" class="btn btn-primary btn-lg"
                            onclick="location.href='{% url 'restaurantApp:reservation' %}'">Zarezerwuj stolik
                    </button>
                </td>


                <td>
                    <button type="button" class="btn btn-warning btn-lg"
                            onclick="location.href='{% url 'restaurantApp:index' %}'">Wróć
                    </button>
                </td>

            </tr>
        </table>
    </div>
{% endblock %}