<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}
{% load static %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/products_group.css' %}">
    <link rel="stylesheet" href="{% static 'css/control_panel.css' %}">
    <link rel="stylesheet" href="{% static 'css/accordion.css' %}">
{% endblock %}
{% block body_block %}


    <div class="main-window">

    <div class="option-windows">

    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                            aria-expanded="true" aria-controls="collapseOne">
                        Magazyny
                    </button>
                    <a href="{% url "restaurantApp:create_restaurant" %}"><i
                            class="addSign fas fa-plus-circle"></i></a>
                </h5>
            </div>
            {% if storage %}
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            {% else %}
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            {% endif %}
            <div class="card-body">
                <ul class="list-group">
                    {% for restuarant in restaurants %}
                        <li class="list-group-item">
                            <a href="{% url "restaurantApp:manage_restaurants" "M" restuarant.id %}">{{ restuarant }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </div>
            </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="true" aria-controls="collapseOne">
                            <a href="{% url "restaurantApp:add_table" %}"><i
                                    class="addSign fas fa-plus-circle"></i></a>
                            Stoliki
                        </button>
                    </h5>
                </div>
                {% if tables %}
                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                {% else %}
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                {% endif %}
                <div class="card-body">
                    <ul class="list-group">
                        {% for restuarant in restaurants %}
                            <li class="list-group-item">
                                <a href="{% url "restaurantApp:manage_restaurants" "S" restuarant.id %}">{{ restuarant }}</a>
                            </li>
                        {% endfor %}
                    </ul>

                </div>
                </div>
                </div>
            </div>
        </div>

        <div class="view-window">
            {% if storage %}
                <h3 class="table-header">Magazyn składników restauracji: {{ restaurant }}</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Składnik</th>
                        <th scope="col">Ilość na stanie</th>
                        <th  class="right-align" scope="col">Opcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for element in storage %}
                        <tr>
                            <td>{{ element.ingredient.name }}</td>
                            <td>{{ element.quantity }} {{ element.ingredient.quantity_type }}</td>
                            <td class="right-align">

                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="{% url "restaurantApp:add_ingredient_to_storage" element.id %}">Dodaj
                                            wartość do magazynu
                                        </a>
                                        <a class="dropdown-item"
                                           href="{% url "restaurantApp:edit_ingredient_to_storage" element.id %}">Nadpisz
                                            aktualny stan
                                        </a>

                                    </div>
                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% elif tables %}
                <h3 class="table-header">Stoliki restauracji: {{ restaurant }}</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Numer stolika</th>
                        <th scope="col">Ilość osób</th>
                        <th class="right-align" scope="col">Opcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for table in tables %}
                        <tr>
                            <td>{{ table.table_number }}</td>
                            <td>{{ table.chairs_quantity }}</td>
                            <td class="right-align">

                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item"
                                           href="{% url "restaurantApp:edit_table" table.id %}">Edytuj stolik
                                        </a>
                                        <a class="dropdown-item"
                                           href="{% url "restaurantApp:delete_table" table.id %}">Usuń stolik
                                        </a>

                                    </div>
                                </div>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $("#new-ingredient").click(function () {
            if ($(".middle-absolute-div").css("display") == "none") {
                $(".middle-absolute-div").css("display", "block")
            } else {
                $(".middle-absolute-div").css("display", "none")
            }
        })
        $(".close-btn").click(function () {
            $(".middle-absolute-div").css("display", "none")
        })

    </script>
{% endblock %}
