<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/control_panel.css' %}">
{% endblock css_block %}

{% block body_block %}
    <div class="middle-absolute-div" align="center">
    <label for="" class="close-btn fas fa-times"></label>
        <form method="post" enctype="multipart/form-data"
              action="{% url "restaurantApp:close_order" order_detail.id %}">
            {% csrf_token %}
            <p>Wybierz formę płatności</p>

            <select class="payment-method" name="payment_type">
                <option value="G">Gotówka</option>
                <option value="K">Karta</option>
            </select>
            <br>
            <button type="submit">Wyslij</button>
        </form>
    </div>
    <div class="jumbotron">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Ilość</th>
                <th scope="col">Produkt</th>
                <th scope="col">Cena za sztukę</th>
                <th scope="col">Handle</th>
            </tr>
            </thead>
            <tbody>
            {% for product_order in products_order %}
                <tr>
                    <td>{{ product_order.quantity }}x</td>
                    <td>{{ product_order.product.name }}</td>
                    <td>{{ product_order.product.price }} zł</td>

                    <td>
                        <button type="button" class="btn btn-primary btn-lg"
                                onclick="location.href='{% url 'restaurantApp:edit_product_order' product_order.id %}'">
                            Edytuj
                        </button>
                    </td>
                </tr>

            {% endfor %}

            </tbody>
        </table>
        <p> {{ order_detail.date }}</p>
        <p> {{ order_detail.employee }}</p>
        <p> {{ order_detail.status }}</p>
        <table class="center">
            <tr>
                <td>
                    <button type="button" class="btn btn-primary btn-lg"
                            onclick="location.href='{% url 'restaurantApp:order_add_product' order_detail.id "meals" %}'">Dodaj
                        produkt do zamówienia
                    </button>
                </td>
                <td>
                    <button type="button" class="close-order-button btn btn-primary btn-lg">Zamknij zamówienie
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger btn-lg"
                            onclick="location.href='{% url 'restaurantApp:delete_order' order_detail.id %}'">Usuń
                        zamówienie
                    </button>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(".close-order-button").click(function () {
            if ($(".middle-absolute-div").css("display") == "none") {
                $(".middle-absolute-div").css("display", "block")
            } else {
                $(".middle-absolute-div").css("display", "none")
            }
        })
        $(".close-btn").click(function () {
            $(".middle-absolute-div").css("display", "none")
        })
    </script>
{% endblock %}