.center td {
    /*border: 1px solid black;*/
    width: 200px;
    height: 200px;
    /*padding-left: 10px;*/
    /*padding-top: 10px;*/
}

td .btn {
    height: inherit;
    width: inherit;
    height: 90%;
    width: 90%;
    /*position: center;*/
    display: block;
    margin: auto;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.container {
    padding-top: 1%;
}

table {
    position: center;
}

.jumbotron {
    padding-top: 10px;
    background: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.buttons{
    padding-top: 15px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.back-button-div{}