.center td {
    /*border: 1px solid black;*/
    width: 200px;
    height: 200px;
    /*padding-left: 10px;*/
    /*padding-top: 10px;*/
}

td .btn {
    height: inherit;
    width: inherit;
    height: 90%;
    width: 90%;
    /*position: center;*/
    display: block;
    margin: auto;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.container {
    padding-top: 1%;
}

table {
    position: center;
}

.jumbotron {
    padding-top: 10px;
    background: white;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.buttons {
    padding-top: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.middle-absolute-div {
    display: none;
    background: white;
    position: absolute;
    border: 2px solid #005cbf;
    height: 20%;
    width: 20%;
    left: 40%;
    top: 40%;
}
.middle-absolute-div .close-btn {
    position: absolute;
    padding-left: 9%;
    top: 15px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}