.main-window{
    border: 1px solid black;
    position: absolute;
    right: 5%;
    height: 80%;
    left: 5%;
    top: 10%;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
}

.option-windows{
    overflow: scroll;
    position: absolute;
    width: 25%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    background: lightgray;
}
.view-window{
    /*background: lightgray;*/
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    overflow: scroll;
    position: absolute;
    right: 0px;
    width: 75%;
    height: 100%;
}

.card-body{
    padding: 0px 0px 0px 0px;
}

.addSign{
    font-size: 20px;
    color: green;
    position: absolute;
    right: 3%;
}

.quantity-popup{
    position: absolute ;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    background: white;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
}

.table-header{
    text-align: center;
}

.table{
    width: 100%;
}

.right-align{
    text-align: right;
}

.main-window{
    background-color: whitesmoke;
}

.li-menu{
    width: 40px;
    height: 30px;
}

.option-windows-panel{
    padding-top: 10%;
}
.option-windows-panel input, button{
    margin-top: 20px;
}
.option-windows-panel label{
    font-weight: bold;
}

.closeOrder{
    width: 50%;
}