<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projekt Zespołowy</title>
    <link rel="stylesheet" href="{% static 'libraries/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <script src="{% static 'libraries/jquery.js' %}"></script>
    <script src="{% static 'libraries/poper.js' %}"></script>
    <script src="{% static 'libraries/bootstrap_js.js' %}"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    {% block css_block %}
    {% endblock css_block %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url "restaurantApp:index" %}">DJANGO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url "admin:index" %}">Admin <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="{% url "restaurantApp:products" %}">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url "restaurantApp:reservation" %}">Rezerwuj stolik</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url "restaurantApp:controll_panel" %}">Controll panel</a>
                </li>
                {% if user.employee.position == "M" %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "restaurantApp:manager_panel" %}">Manager panel</a>
                    </li>
                {% endif %}
            {% endif %}

        </ul>
        <form class="form-inline my-2 my-lg-0">
            {% if user.is_authenticated %}
                <button class="btn btn-outline-success my-2 my-sm-0" type="button"
                        onclick="location.href='{% url "restaurantApp:logout" %}'">Logout
                </button>
            {% else %}
                <button class="loginButton btn btn-outline-success my-2 my-sm-0" type="button">Login</button>
            {% endif %}
        </form>

    </div>
</nav>

<div class="container">
    {% if not user.is_authenticated %}
        <div class="login-popup popup" align="center">

            <form class="form-signin" method="post" action="{% url "restaurantApp:signin" %}">
                {% csrf_token %}
                <label for="" class="close-btn fas fa-times"></label>
                <img class="mb-4" src="{% static "imgs/apple-touch-icon.png" %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="username" class="sr-only">User name</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="User name" required
                       autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                       required>
                <div class="checkbox mb-3">
                    <label>
                        <input id="remember_me" type="checkbox" name="remember_me" id="remember_me" value="remember">
                        Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
            </form>
        </div>
    {% endif %}
    {% block body_block %}
    {% endblock %}
</div>

</body>
</html>
<script>
    $(".loginButton").click(function () {
        if ($(".login-popup").css("display") == "none") {
            $(".login-popup").css("display", "block")
        } else {
            $(".login-popup").css("display", "none")
        }
    })
    $(".close-btn").click(function () {
        $(".login-popup").css("display", "none")
    })
</script>
{% block script %}

{% endblock script %}


