<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/control_panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
{% endblock css_block %}

{% block body_block %}
    <div class="jumbotron">
        <div class="form-default">
            <form id="create-user-form" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="username" class="col-sm-2 col-form-label">Nazwa użytkownika</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="username" type="text" name="username" required>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="password" class="col-sm-2 col-form-label">Hasło</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="password" type="password" name="password" required>

                    </div>
                </div>
                <div class="form-group row">
                    <label for="first_name" class="col-sm-2 col-form-label">Imie</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="first_name" type="text" name="first_name" required>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="last_name" class="col-sm-2 col-form-label">Nazwisko</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="last_name" type="text" name="last_name" required>
                    </div>

                </div>

                <div class="form-group row">
                    <label for="phone_number" class="col-sm-2 col-form-label">Telefon</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="phone_number" type="text" name="phone_number" required>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="street_name" class="col-sm-2 col-form-label">Adres</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="street_name" type="text" name="street_name" required>
                    </div>
                </div>

                <div class="form-group row">

                    <label for="street_number" class="col-sm-2 col-form-label">Numer domu</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="street_number" type="text"
                               name="street_number" required>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="house_number" class="col-sm-2 col-form-label">Numer mieszkania</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="house_number" type="text" name="house_number">
                    </div>

                </div>
                <div class="form-group row">
                    <label for="zip_code" class="col-sm-2 col-form-label">zip_code</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="zip_code" type="text" name="zip_code" required>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="city" class="col-sm-2 col-form-label">city</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="city" type="text" name="city" required>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="position" class="col-sm-2 col-form-label">Pozycja</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="position" name="position">
                            <option value="W">Pracownik</option>
                            <option value="M">Manager</option>
                        </select>
                    </div>

                </div>


                <div class="form-group row">
                    <label for="restaurant" class="col-sm-2 col-form-label">Restauracja</label>
                    <div class="col-sm-10">
                        <select class="form-control" id="restaurant" name="restaurant">
                            {% for restaurant in restuarants %}
                                <option value="{{ restaurant.id }}"> {{ restaurant }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button type="button" class="send-user-form btn btn-primary btn-lg">Przeslij</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>
        var user_form = $("#create-user-form");

        $(".send-user-form").click(function () {

            var username = $("#username").val();
            $.ajax({
                type: 'GET',
                url: "{% url 'restaurantApp:check_user' %}",
                data: {"username": username},
                success: function (response) {
                    if (!response["valid"]) {
                        alert("Wybrana nazwa użytkownika jest zajęta");
                    } else {
                        if (user_form.valid() == true) {
                            $("#create-user-form").submit();
                            alert("Pomyślnie stworzono użytkownika")
                        } else {
                            alert("Wypełnij wymagane pola");
                        }
                    }
                },
                error: function (response) {
                    console.log(response)
                }
            })
        })
    </script>
{% endblock %}

