<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}

{% block body_block %}
    <style>
        .jumbotron {
            margin-top: 10%;
        }
    </style>
{#    <div class="jumbotron">#}
{#        <h1 align="center">Praca dyplomowa</h1>#}
{#        {% if user.is_authenticated %}#}
{#            <br><br>#}
{#            <p align="right">Zalogowano użytkownika: {{ user.employee }}</p>#}
            {#        <p>Konto: {{ user }}</p>#}
{#        {% endif %}#}
{#    </div>#}
{% endblock %}