<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}
{% load static %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/products_group.css' %}">
    <script src="{% static 'libraries/moment.js' %}"></script>
{% endblock %}
{% block body_block %}
    <div class="main-window">

        <div class="option-windows" align="center">
            <div class="option-windows-panel">

                <form id="addProductToOrder" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="restaurant">Restauracja: </label>
                    <select id="restaurant" name="restaurant">
                        {% for restaurant in restaurants %}
                            <option name="restaurant" value="{{ restaurant.id }}">{{ restaurant }}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <label for="start_date">Od daty: </label>
                    <input type="date" id="start_date" name="start_date"
                           min="2020-01-01" max="2020-12-31" required>

                    <br>
                    <label for="end_date">Do daty: </label>
                    <input type="date" id="end_date" name="end_date"
                           min="2020-01-01" max="2020-12-31" required>

                    <br>

                    <button class="btn btn-primary btn-lg" type="submit">Generuj raport</button>

                </form>
            </div>
        </div>


        <div class="view-window">
            {% if income %}
                <h2 align="center">Utarg: {{ income }} zł</h2>
                <br>

                <h3 align="center">Produkty</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Produkt</th>
                        <th class="right-align" scope="col">Ilość</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product, quantity in products.items %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td class="right-align">x{{ quantity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


                <h3 align="center">Składniki</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Składnik</th>
                        <th class="right-align" scope="col">Ilość</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ingredient, quantity in ingredients.items %}
                        <tr>
                            <td>{{ ingredient }}</td>
                            <td class="right-align">{{ quantity }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <br><br><br>
                <h1 align="center">Brak zamówień z podanego okresu</h1>
            {% endif %}
        </div>

    </div>
{% endblock %}



