<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}
{% load static %}
{% block css_block %}
    <link rel="stylesheet" href="{% static 'css/products_group.css' %}">
    <script src="{% static 'libraries/moment.js' %}"></script>
{% endblock %}
{% block body_block %}
    <div class="main-window">

        <div class="option-windows" align="center">

            <div class="option-windows-panel">

                <form id="addProductToOrder" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <label for="restaurant">Restauracja: </label>
                    <select id="restaurant" name="restaurant">
                        {% for restaurant in restaurants %}
                            <option name="restaurant" value="{{ restaurant.id }}">{{ restaurant }}</option>
                        {% endfor %}
                    </select>
                    <br>

                    <label for="date">Data: </label>
                    <input type="date" id="date" name="date"
                           min="2020-01-01" max="2020-12-31">
                    <br>

                    <label for="time_start">Godzina rozpoczęcia: </label>
                    <input type="time" id="time_start" name="time_start"
                           min="09:00" max="19:00" required>
                    <br>
                    <label for="time_end">Godzina zakończenia: </label>
                    <input type="time" id="time_end" name="time_end"
                           min="9:00" max="20:00" required>
                    <br>
                    <button class="btn btn-primary btn-lg" type="submit">Sprawdź wolne stoliki</button>
                </form>
            </div>
        </div>


        <div class="view-window">

            {% if tables %}
                <h1>{{ restaruant }}</h1>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Stolik</th>
                        <th scope="col">Ilość miejsc</th>
                        <th class="right-align" scope="col">Opcje</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for table in tables %}
                        <tr>
                            <td>Stolik: {{ table.table_number }}</td>
                            <td>{{ table.chairs_quantity }}</td>
                            <td class="right-align">
                                {#                                <button class="reservationButton">Rezerwuj</button>#}
                                <button type="button" class="btn btn-primary btn-lg"
                                        onclick="location.href='{% url 'restaurantApp:client_form' id reservation_date time_start time_end table.id %}'">
                                    Rezerwuj
                                </button>
                            </td>
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            {% endif %}
        </div>

    </div>
{% endblock %}

{% block script %}
    <script>
        var today = moment().format('YYYY-MM-DD');
        $('#date').val(today);
        $('#date').attr('min', today);

    </script>
{% endblock %}

