<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/control_panel.css' %}">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
{% endblock css_block %}

{% block body_block %}
    <div class="jumbotron">
        <h1>{{ employee }}</h1>
        <form id="create-user-form" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="password">Wprowadź nowe hasło</label>
            <input id="password" type="password" name="password" required>
            <br>
            <button class="send-user-form">Przeslij</button>
        </form>
    </div>
{% endblock %}


