<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}
{% load static %}

{% block css_block %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/control_panel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.0/jquery.validate.min.js"></script>
{% endblock css_block %}

{% block body_block %}
    <div class="jumbotron">
        <h1 align="center">Nowe hasło dla: {{ employee }}</h1>
        <div class="form-default">
            <form id="create-user-form" method="post" action="" enctype="multipart/form-data">
                {% csrf_token %}


                <div class="form-group row">
                    <label for="password" class="col-sm-3 col-form-label">Wprowadź nowe hasło:</label>
                    <div class="col-sm-7">
                        <input class="form-control" id="password" type="password" name="password" required>
                    </div>
                </div>

                <button class="send-user-form btn btn-primary btn-lg">Przeslij</button>
            </form>
        </div>
    </div>
{% endblock %}


