<!DOCTYPE html>
{% extends "restaurantApp/base.html" %}
{% load static %}
{% block body_block %}
    <div class="container" align="center">
        <div class="login-popup">

            <form class="form-signin" method="post">
                {% csrf_token %}
                <label for="" class="close-btn fas fa-times"></label>
                <img class="mb-4" src="{% static "imgs/apple-touch-icon.png" %}" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="username" class="sr-only">User name</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="User name" required
                       autofocus>
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control" placeholder="Password"
                       required>
                <div class="checkbox mb-3">
                    <label>
                        <input id="remember_me" type="checkbox" name="remember_me" id="remember_me" value="remember">
                        Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <p class="mt-5 mb-3 text-muted">&copy; 2020</p>
            </form>
        </div>
    </div>
{% endblock %}



